@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
	background-color: #e8e8e8;
}



.logo{
    font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	text-decoration: none;
	color: white;
	margin-right: 20px;
}

.logo:hover{
	color: white;
}

.linkss{
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
}
.mt-8{
    margin-top: 100px;
}


.zago_news{
    color: black;
    font-family: 'Playfair Display', serif;
}

.zago_news_link{
    position: relative;
	color: black; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}


.zago_news_link:hover{
    color: black;
}

.post_pp{
	line-height: 2.1;
	font-weight: 500;
	color: grey;
	display: block;
	margin-top: 30px;
	
}

.news_main{
	line-height: 1.5;
	font-weight: 500;
	margin-top: 1px;
	font-size: 17px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bolder;
}

.news_main2{
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 0.5rem;
}
.link-text{
	text-decoration: none;
	color: black;
	transition-duration: 0.3s;
}

.link-text:hover{
	color: #cf1f1f;
}

.zago_main0{
	font-family: 'PT Sans', sans-serif;
	font-weight: bolder;
	margin-top: 10px;
	font-size: 17px;
}


.block_news{
	width: 100%;
	height: auto;
	background-color: #f5f5f6;
}

.zago_main02{
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	font-weight: bolder;
	color: black;
}

.zago_main01{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 34px;
	line-height: 42px;
	display: block;
	margin-bottom: 15px;
}


@media only screen and (max-width: 600px) {
	.zago_main01 {
	  font-size: 24px;
	  line-height: 34px;
	  margin-bottom: 3px;
	}
  }


.text-link2{
	color: #1445ab;
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	display: block;
}

.img-fluid{
	border-radius: 4px;
}

.img-m{
	margin-bottom: 5px;
	margin-top: 20px;
}

.img-m2{
	margin-bottom: 5px;
	margin-top: 15px;
}

.text-link3{
	color: #1445ab;
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	font-weight: bolder;
	margin-bottom: 15px;
	display: block;
}

.text-link3:hover{
	color: #cf1f1f;
}

.link-text2{
	text-decoration: none;
	color: black;
	transition-duration: 0.3s;
	font-family: 'Lora', serif;
	font-size: 17px;
	font-weight: normal;
}

.link-text2:hover{
	color: #1445ab;
}

.link-text6{
	text-decoration: none;
	color: white;
	transition-duration: 0.3s;
	font-family: 'Lora', serif;
	font-size: 17px;
	font-weight: normal;
}

.link-text6:hover{
	color: #b3b3b3;
}



.link-text4{
	text-decoration: none;
	color: black;
	transition-duration: 0.3s;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
}

.link-text4:hover{
	color: #1445ab;
}

.ska{
	font-size: 100px;
	text-align: center;
}


.black_block{
	width: 100%;
	height: auto;
	background-color: #20252a;
}


.mr-3{
	margin-right: 10px;
}

.revolut{
	font-size: 17px;
	display: table-cell;
	line-height: 1.5em;
}


.revolut2{
	font-size: 17px;
	line-height: 1.5em;
}

.link-text3{
	text-decoration: none;
	color: black;
	transition-duration: 0.3s;
	font-family: 'Lora', serif;
}

.link-text3:hover{
	color: #1445ab;
}

.main-news{
	font-family: 'PT Sans', sans-serif;
	font-weight: bolder;
	margin-bottom: 10px;
	margin-top: 30px;
	display: block;
	padding-top: 30px;
	padding-right: 25px;
}

.main-news2{
	font-family: 'PT Sans', sans-serif;
	font-weight: bolder;
	color: white;
}

.line{
	background-color: #964a4a;
	border: 1px solid #964a4a;
}

.line2{
	background-color: white;
	border: 1px solid white;
}

.date_time{
	color: #9c9c9c;
	font-family: 'PT Sans', sans-serif;
	font-weight: bolder;
	font-size: 13px;
}


.date_time3{
	color: #9c9c9c;
	font-family: 'PT Sans', sans-serif;
	font-weight: bolder;
	font-size: 13px;
}


.kg{
	color: #4983ff;
}


.date_time2{
	width: 47px;
	color: #96a3b0;
	font-family: 'PT Sans', sans-serif;
	font-weight: bolder;
	float: left;
	padding-top: 3px;
	font-size: 13px;
	/*margin-right: 13px;*/
}



.date_time5{
	color: #96a3b0;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	font-size: 13px;
	margin-bottom: 15px;
	/*margin-right: 13px;*/
}


.carousel-block{
	background-color: white;
	height: auto;
	border-radius: 15px;
}


.mt-7{
	margin-top: 50px;
}

.link_read{
	color: black;
	transition-duration: 0.3s;
	text-decoration: none;
}

.link_read:hover{
	color: #cf1f1f;
}

.news{
	font-family: 'PT Sans', sans-serif;
	font-weight: bolder;
}

.ads_block{
	width: 100%;
	height: 90px;
	color: white;
	text-align: center;
	/*background-color: #20252a;*/
	font-size: 55px;
}

.ads_block7{
	width: auto;
	height: auto;
}

.img-mini{
	max-width: 320px;
	max-height: 480px;
}


.mr-5{
	margin-right: 27px;
}

.card-title-custom{
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}

.img-custom{
	width: 100%;
  	height: auto;
	border-radius: 5px;
	float: left;
	margin-right: 30px;
	padding-bottom: 30px;
}

.d-flexw{
	display: block;
}

.img-adaptive{
	max-width: 370px;
	height: auto;
	border-radius: 4px;
}

.mr-7{
	margin-left: 0;
}

.carousel_text{
	position: absolute;
	top: 150px;
}




.link-text5{
	text-decoration: none;
	color: black;
	transition-duration: 0.3s;
}

.link-text5:hover{
	color: #7d7d7d;
}


.text_in_img{
	position: relative;
}



.img-custom2{
	width: 100%;
  	height: auto;
	border-radius: 5px;
	padding-right: 30px;
}



.article_text2{
	font-family: 'Source Serif Pro', serif;
	font-size: 20px;
	font-weight: normal;
	margin-top: 25px;
	margin-bottom: 5px;
}

.ads-banner2{
	width: 300px;
	height: auto;
	border: 1px solid black;
}

.ml-5{
	margin-left: 10px;
}


.ads-block-main{
	width: 100%;
	height: 200px;
	background-color: #92999f;
	text-align: center;
	font-size: 110px;
}

.zago_main3{
	font-family: 'PT Sans', sans-serif;
	font-weight: bolder;
}






.paginations:hover{
	border: 3px solid #1445ab;
}


.page-links{
	text-decoration: none;
	color: black;
}







.footer-distributed{
	background: #20252a;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-family: 'Montserrat Alternates', sans-serif;
	margin: 0;
}


/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.footer-text{
	color: white;
	padding-top: 17px;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
}

.black_block_news{
	background-color: #ffffff;
	border-radius: 13px;
	max-width: 650px;
	color: black;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	height: auto;
}



.slash{
	color: #1445ab;
	margin-right: 10px;
}



.carousel-block{
	width: 100%;
	height: auto;
	background-color: #20252a;
}

.img-adaptive2{
	max-width: 100%;
	height: auto;
	border-radius: 4px;
}

.test{
	background-color: white;
	width: 100%;
	height: auto;
	border-radius: 4px;
	padding-bottom: 17px;
}

.test2{
	position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(41, 41, 41, 0) 0%, rgba(41, 41, 41, 0.5) 30%, #292929 80%);
}

/* 

Эксперимент

*/


.bg-custom{
	background-color: #20252a;

}


.scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
   }
   .scale img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
   .scale img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
   }



.com_text{
	text-align: center;
	color: #7d7d7d;
	font-family: 'Lato', sans-serif;
}

.fl{
	font-family: 'Lora', serif;
}

.comments{
	width: auto;
	height: auto;
	background-color: white;
	border: 1px solid black;
}

.author{
	text-align: center;
	color: black;
	font-family: 'Lato', sans-serif;
}

.django{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(41, 41, 41, 0) 0%, rgba(41, 41, 41, 0.5) 30%, #292929 80%);
}


.xxl{
	color: black;
	font-family: 'Lora', serif;
}




/*
experiment



position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(41, 41, 41, 0) 0%, rgba(41, 41, 41, 0.5) 30%, #292929 80%);
*/



.black_block_news2{
	background-color: #ffffff;
	border-radius: 13px;
	max-width: 100%;
	color: black;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-top: 30px;
	height: auto;
}




.content{
	position: relative;
	white-space: nowrap;
	height: 300px;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 0 20px;
}



.carousel_card{
	position: relative;
	width: 100%;
	height: 256px;
	overflow: hidden;
	border-radius: 4px;
}

.item_img{
	position: relative;
	width: auto;
	height: 200px;
}

.item_content{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0 20px 20px;
	color: white;
	white-space: normal;
}