{% extends 'base.html' %}

{% block content %}


    <div class="container mt-custom">
        <div class="ads_block">
          <!-- Yandex.RTB R-A-1618515-6 -->
          <div id="yandex_rtb_R-A-1618515-6"></div>
          <script>window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
          renderTo: 'yandex_rtb_R-A-1618515-6',
          blockId: 'R-A-1618515-6'
          })
          })</script>
        </div>
      </div>
      
      




    
      <div class="container">
        <div class="row">
          <h1 class="all-news mt-8">Все новости</h1>
          <div class="col-md-1"></div>
          <div class="col-md-10 mt-3">
            <div class="black_block_news2">
              {% for article in articles %}
                <h1 class="page_2_title"><a href="{% url 'article' article.slug %}" class="text-decoration-none text-dark">{{ article.title }}</a></h1>
                <div class="date_time5 d-inline me-1">{{ article.created_at }}</div>
                <h6 class="page_2_title2 d-inline">{{ article.heading }}</h6>
                <hr>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-1">
          </div>
        </div>
    </div>
<div class="container">
    <div class="vertical_ads mt-3">
      
    </div>
  </div>    
      <div class="container mt-3">
        <div class="row">
          <div class="col-md-4 col-sm-4"></div>
          <div class="col-md-4 col-sm-4">
              <ul class="pagination">
                  <li class="page-item mr-3">
                    <a href="{% url 'main' %}" class="page-link">Назад</a>
                  </li>
                  {% for i in paginator.page_range %}
                  <li class="page-item {% if i == page_number %}active{% endif %}">
                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                  </li>
                {% endfor %}
              </ul>
          </div>
          <div class="col-md-4 col-sm-4"></div>
        </div>
      </div>

      
{% endblock %}