{% extends 'base.html' %}

{% block content %}
<!-- 
<div class="container mt-custom">
  <div class="ads_block">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3568209057248105"
      crossorigin="anonymous"></script>
      <!-- 1 
      <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-3568209057248105"
      data-ad-slot="3644569680"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
</div>
-->

<div class="black_block mt-8 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="carousel_block">
          <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-dark pb-3" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>  
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
            <div class="carousel-inner">
                {% for img in obj %}  
              <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <div class="row">
                  <a href="{% url 'carousel' img.id %}" class="text-decoration-none text-dark">
                    <img src="{{img.picture.url}}" class=" img-adaptive2" style="width: 100%;
                    height: auto;
                    border-radius: 4px;" alt="...">
                </div>
                <h1 class="xxl text-center pt-3">{{ img.title }}</a></h1>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="carousel_block2">
          <h4 class="main-news2">Новости дня</h4>
          <hr class="line2 mb-4">
          {% for article in articles %}
            {% if article.carousel_block %}
              {% if not article.pagination_article %}
                <div class="revolut2"><a href="{% url 'article' article.slug %}" class="link-text2">{{ article.title }}</a></div>
                <div class="date_time5">{{ article.created_at|date:"H:i" }}</div>
                <hr>
              {% endif %}
            {% endif %}
          {% endfor %}
          <div class="button-wrapper">
            <a href="{% url 'article_page_2' %}" class="btn btn-outline-dark">Все новости</a>
          </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="goriz_ads">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3568209057248105"
    crossorigin="anonymous"></script>
    <!-- 435 -->
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-3568209057248105"
    data-ad-slot="8484323628"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-12 mt-4">
      <div class="black_block_news">
        <h4 class="main-news">Главные новости</h4>
        <hr class="line">
        {% for article in articles %}
          {% if article.right_panel_article %}
            {% if not article.pagination_article %}
              <div class="date_time2">{{ article.created_at|date:"H:i" }}</div>
              <div class="revolut"><a href="{% url 'article' article.slug %}" class="link-text2">{{ article.title }}</a></div>
              <hr>
            {% endif %}
          {% endif %}
        {% endfor %}
        <div class="button-wrapper mb-3">
          <a href="{% url 'article_page_2' %}" class="btn btn-outline-dark">Все новости</a>
        </div>
      <div class="ads_block7">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3568209057248105"
          crossorigin="anonymous"></script>
          <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-3568209057248105"
          data-ad-slot="6449507053"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
      </div>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      {% for article in articles %}
        {% if article.center_article %}
          {% if not article.pagination_article %}
            <div class="scale mb-2">
              <a href="{% url 'article' article.slug %}"><img class="img-fluid" {% if article.picture %} src="{{ article.picture.url }}" {% endif %} alt="..."></a>
              <!--<a class="text-link2">{{ article.heading }}</a>-->
              <h1 class="news_main ps-3 pe-3 pt-3"><a href="{% url 'article' article.slug %}" class="link-text2">{{ article.title }}</a></h1>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="test">
        {% for article in articles %}
          {% if article.margin_article_text %}
            {% if not article.pagination_article %}
              <h1 class="news_main pt-3 ps-2 pe-2"><a href="{% url 'article' article.slug %}" class="link-text2">{{ article.title }}</a></h1>
              <div class="date_time3 ps-2 pe-2">{{ article.created_at|date:"H:i" }}</div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4 mt-4">
      {% for article in articles %}
        {% if article.main_article %}
          {% if not article.pagination_article %}
            <div class="scale mb-2">
              <a href="{% url 'article' article.slug %}"><img class="img-fluid" {% if article.picture %} src="{{ article.picture.url }}" {% endif %} alt="Article image"></a>
              <h1 class="zago_main0 ps-3 pe-3 pt-3"><a href="{% url 'article' article.slug %}" class="link-text2">{{ article.title }}</a></h1>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="ads_block7">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3568209057248105"
          crossorigin="anonymous"></script>
          <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-3568209057248105"
          data-ad-slot="5137614753"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="black_block mt-7 pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="carousel_block" style="width: 100%; height: auto; background-color: #20252a;">
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
          <div class="carousel-inner">
              {% for img in obj %}  
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
              <div class="row">
                <a href="{% url 'carousel' img.id %}" class="text-decoration-none text-white">
                  <img src="{{img.picture.url}}" class=" img-adaptive2" style="width: 100%;
                  height: auto;
                  border-radius: 4px;" alt="...">
              </div>

              <h1 class="xxl text-center pb-5">{{ img.title }}</a></h1>
            </div>
            {% endfor %}
          </div>  
        </div>
      </div>
    </div>
    <div class="col-md-6 pt-4">
      <h4 class="main-news2">Новости дня</h4>
      <hr class="line2 mb-4">
      {% for article in articles %}
        {% if article.carousel_block %}
          <div class="revolut2"><a href="{% url 'article' article.slug %}" class="link-text6">{{ article.title }}</a></div>
          <div class="date_time5">{{ article.created_at|date:"H:i" }}</div>
        {% endif %}
      {% endfor %}
    </div>
    </div>
  </div>
</div>
-->
<!--
  <div class="col-md-3 pt-4 text-white">
      <div class="block_card">
        <img src="https://ru.inshaker.com/uploads/article/cover/1091/wide_1574417480-russ-hanneman-tres-comas-anejo-tequila.jpg" class="img-fluid">
        <h5 class="fl text-white mt-3">Все дело в деньгах: почему Премьер-лиге не нужен мораторий на вылет</h5>
        <p class="text-secondary">Исполком РФС 23 марта может утвердить предложение РПЛ о моратории на вылет команд</p>
      </div>
    </div>
-->






<div class="container mt-3">
  <div class="row">
      <div class="col-md-8">
        <div class="black_block_news2">
          {% for article in articles %}
            {% if article.text_article %}
              {% if not article.pagination_article %}
                {% if not article.right_panel_article %}
                  <div class="date_time2">{{ article.created_at|date:"H:i" }}</div>
                  <div class="revolut"><a href="{% url 'article' article.slug %}" class="link-text3">{{ article.title }}</a></div>
                  <hr >
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    <div class="col-md-4">
      {% for article in articles %}
          {% if not article.text_article %}
              {% if article.picture %}
                {% if not article.main_article %}
                  {% if not article.center_article %}
                      {% if not article.right_panel_article %}
                          {% if not article.pagination_article %}
                            {% if not article.pagination_picture_article %}
                              <div class="d-flexw">
                                <div class="mb-2 mr-5" style="width: 18rem;">
                                <div class="scale">
                                  <a href="{% url 'article' article.slug %}"><img src="{{ article.picture.url }}" class="img-adaptive mr-7" alt="..."></a>
                                  <h1 class="revolut ps-3 pe-3 pt-3"><a href="{% url 'article' article.slug %}" class="link-text3">{{ article.title }}</a></h1>
                                </div>
                                </div>
                              </div>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
          {% endfor %}
    </div>
  </div>
</div>
<!-- 
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-4 col-sm-4">
        <ul class="pagination">
            <li class="page-item">
              <a href="{% url 'article_page_2' %}" class="page-link">Следующая</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4"></div>
  </div>
</div>
-->
<div class="container">
  <div class="goriz_ads">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3568209057248105"
    crossorigin="anonymous"></script>
    <!-- 87 -->
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-3568209057248105"
    data-ad-slot="9930155288"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>

  <script>
    $('.carousel').on('touchstart', function(event){
      const xClick = event.originalEvent.touches[0].pageX;
      $(this).one('touchmove', function(event){
          const xMove = event.originalEvent.touches[0].pageX;
          const sensitivityInPx = 5;
  
          if( Math.floor(xClick - xMove) > sensitivityInPx ){
              $(this).carousel('next');
          }
          else if( Math.floor(xClick - xMove) < -sensitivityInPx ){
              $(this).carousel('prev');
          }
      });
      $(this).on('touchend', function(){
          $(this).off('touchmove');
      });
  });


  document.addEventListener('DOMContentLoaded', () => { // структура документа загружена и готова к взаимодействию

    let cards = document.querySelectorAll('.card'); // получаем все карточки
    cards.forEach(card => { // для каждой карточки
      card.addEventListener('mousemove', e => { // добавляем событие передвижения курсора
        let rect = e.target.getBoundingClientRect(); // определяем координаты курсора
        let x = e.clientX - rect.left; // вычисляем координату x
        let y = e.clientY - rect.top; // вычисляем координату y
        card.style.setProperty('--x', x + 'px'); // назначаем значение CSS переменной --x
        card.style.setProperty('--y', y + 'px'); // назначаем значение CSS переменной --y
      });
    })
  
  });
  </script>


  <!-- Optional Javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



{% endblock %}
