{% extends 'base.html' %}

{% block content %}


    <div class="container mt-8">
        <div class="ads_block">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3568209057248105"
            crossorigin="anonymous"></script>
            <!-- 1 -->
            <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-3568209057248105"
            data-ad-slot="3644569680"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
      </div>
      
      




    
      <div class="container">
        <div class="row">
          <h1 class="all-news mb-4">Все новости</h1>
          <div class="col-md-1"></div>
          <div class="col-md-7">
              {% for article in articles %}
                <h1 class="page_2_title"><a href="{% url 'article' article.slug %}" class="text-decoration-none text-dark">{{ article.title }}</a></h1>
                <div class="date_time5 d-inline me-1">{{ article.created_at }}</div>
                <h6 class="page_2_title2 d-inline">{{ article.heading }}</h6>
                <hr>
              {% endfor %}
            </div>
          <div class="col-md-4">
            <div class="black_block_news">
              <h4 class="main-news">Главные новости</h4>
              <hr class="line">
              {% for article in articles %}
                {% if article.right_panel_article %}
                  <div class="date_time2">{{ article.created_at|date:"H:i" }}</div>
                  <div class="revolut"><a href="{% url 'article' article.slug %}" class="link-text2">{{ article.title }}</a></div>
                  <hr>
                {% endif %}
              {% endfor %}
            <div class="ads_block7">
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3568209057248105"
                crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-3568209057248105"
                data-ad-slot="6449507053"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            </div>
            <div class="vertical_ads mt-5">
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3568209057248105"
              crossorigin="anonymous"></script>
              <!-- vn -->
              <ins class="adsbygoogle"
              style="display:block"
              data-ad-client="ca-pub-3568209057248105"
              data-ad-slot="3392667093"
              data-ad-format="auto"
              data-full-width-responsive="true"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
          </div>
        </div>
    </div>


      
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4"></div>
          <div class="col-md-4 col-sm-4">
              <ul class="pagination">
                  <li class="page-item mr-3">
                    <a href="{% url 'main' %}" class="page-link">Назад</a>
                  </li>
                  {% for i in paginator.page_range %}
                  <li class="page-item {% if i == page_number %}active{% endif %}">
                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                  </li>
                {% endfor %}
              </ul>
          </div>
          <div class="col-md-4 col-sm-4"></div>
        </div>
      </div>

      
{% endblock %}