{% extends 'base.html' %}


{% block latest_news %}
<div class="container">
        <div class="mt-8">
            <div class="ads_block">
            
            </div>
        </div>
    </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <h3 class="zago_main3 mt-7 mb-4 text-md-start">Лента новостей</h3>
                        <hr class="mb-5">
                        {% for articles in article %}
                        <h5 class="zago_main02"><a href="{% url 'article' articles.id %}" class="link-text4">{{ articles.title }}</a></h5>
                        <p class="date_time mr-5">{{ articles.created_at|date:"Y-m-d H:i" }}</p>
                        <hr class="mt-4">
                        {% endfor %}
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
{% endblock %}