{% extends 'base.html' %}


{% block content %}
<div class="container">
        <div class="mt-8">
            <div class="ads_block">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3568209057248105"
                    crossorigin="anonymous"></script>
                    <!-- 1 -->
                    <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-3568209057248105"
                    data-ad-slot="3644569680"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
            </div>
        </div>
    </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                          <div class="black_block_news2">
                            <h3 class="zago_main3 mt-2 mb-4 text-md-center">{{ category.title }}</h3>
                            <hr class="mb-2">
                            {% for articles in article %}
                            <h1 class="zago_main02"><a href="{% url 'article' articles.slug %}" class="link-text3">{{ articles.title }}</a></h1>
                            <p class="date_time5 me-1 d-inline">{{ articles.created_at|date:"Y-m-d H:i" }}</p>
                            <h6 class="page_2_title2 d-inline">{{ articles.heading }}</h6>
                            <hr class="mt-4">
                            {% endfor %}
                          </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>



            <div class="container">
                <div class="row">
                  <div class="col-md-4 col-sm-4"></div>
                  <div class="col-md-4 col-sm-4">
                      <ul class="pagination">
                          {% for i in paginator.page_range %}
                          <li class="page-item {% if i == page_number %}active{% endif %}">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                  </div>
                  <div class="col-md-4 col-sm-4"></div>
                </div>
              </div>
{% endblock %}