{% extends 'base.html' %}

{% block latest_news %}
<div class="container">
        <div class="mt-8">
            <div class="ads_block">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3568209057248105"
                    crossorigin="anonymous"></script>
                    <!-- 1 -->
                    <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-3568209057248105"
                    data-ad-slot="3644569680"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
            </div>
            <h1 class="zago_main3 mt-7 text-center mb-3">Главные новости</h1>
        </div>
    </div>
    {% for article in articles %}
        {% if article.right_panel_article %}
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <hr class="mb-5">
                        <h3 class="zago_main02"><a href="{% url 'article' article.id %}" class="link-text3">{{ article.title }}</a></h3>
                        <a href="#" class="text-link2 d-inline">{{ article.heading }}</a>
                        <p class="date_time d-inline ml-5">{{ article.created_at }}</p>
                        {% autoescape off %}
                        <p class="article_text">{{ article.text|linebreaks }}</p>
                        {% endautoescape %}
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}